<div class="loginForm">
 
   <div id="icon">
    <fa-icon id="userIcon" [icon]="user"></fa-icon>
  </div>
   <!-- Form -->
   <form #loginForm="ngForm" (ngSubmit) = "login(loginForm)" ngNativeValidate>
     
       <!-- EMAIL INPUT --> 
       <div class="container">
         <label for="email" class="form-label">Email address</label>
         <input type="email" class="form-control" id="email" name ="email" ngModel required>
         <small class="text-danger" > {{emailError}}</small>
       <!-- PASSWORD INPUT --> 
         <label for="password" class="form-label">Password</label>
         <input type="password" class="form-control" id="password" name="password" ngModel required>
         <small class="text-danger"> {{passwordError}}</small>
         
 
        <!-- ROLE INPUT-->
        
         <label for="role" class="form-label">Who are you? (Select One)</label>
         <select class="form-control" id="role" name="role" [(ngModel)]="selected" required >
           <option value="Customer">Customer</option>
           <option value="Washer">Washer</option>
           <option value="Admin">Admin</option>
           
         </select>
     
       
       <button type="submit" >Login</button> &nbsp;
      
     </div>
     <div class="container" style="background-color:#f1f1f1">
       
      
     </div>
     
   </form>
 </div>