
<div class="about-section">
    <h1>About Us Page</h1>
    <br>
    <p>On Demand Car Wash System is a technology startup delivering car services directly to its customers' doorstep.We believe in exceptional customer service, outstanding quality and well-crafted software.</p>
  
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Abhay Singh</h2>
          <p class="title">CEO & Founder</p>
          <p>We are Committed to providing an affordable service while always compensating our people fairly.</p>
          <p>abhay@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Vijay Shukla</h2>
          <p class="title">Director</p>
          <p>We strive to grow, work hard and thrive in a fast-paced and complex environment.</p>
          <p>vijay@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Sachin Banerjee</h2>
          <p class="title">Support Head</p>
          <p>We focus on delivering a great service — You won't see us pretending we save the world.</p>
          <p>sachin@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  